[submodule "ext/entt"]
	path = ext/entt
	url = https://github.com/skypjack/entt.git
[submodule "ext/SFML"]
	path = ext/SFML
	url = https://github.com/SFML/SFML.git
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/benchmark"]
	path = ext/benchmark
	url = https://github.com/google/benchmark.git
[submodule "ext/SDL"]
	path = ext/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ext/raylib"]
	path = ext/raylib
	url = https://github.com/raysan5/raylib.git
