name: Linux Build with Coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake g++ libsfml-dev libxrandr-dev libxcursor-dev libxi-dev libudev-dev libogg-dev libvorbis-dev libflac-dev libxinerama-dev lcov

      - name: Configure CMake with Coverage
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DENABLE_COVERAGE=ON

      - name: Build with CMake
        run: cmake --build build --config Debug

      - name: Run tests
        run: ctest --test-dir build --output-on-failure -C Debug -R EcsSample

      - name: Check Coverage Files
        run: find build -name "*.gcda" -print

      - name: Generate coverage report
        run: |
          geninfo build --output-filename coverage.info --rc lcov_branch_coverage=1 -ignore-errors mismatch
          lcov --remove coverage.info '/usr/*' '*/_deps/*' '*/tests/*' --output-file coverage.info --verbose
          lcov --list coverage.info --verbose

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: coverage.info
          flags: unittests
          name: codecov-ubuntu
